<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}LVL UP{% endblock %}</title>
    <link rel="stylesheet" href="/assets/app.css">
    {% block stylesheets %}{% endblock %}
</head>
<body class="bg-gray-50 text-gray-900 antialiased">
    {% block body %}{% endblock %}
    {% block scripts %}{% endblock %}
</body>
</html>
