{% extends 'email/base.html.twig' %}

{% block title %}Réinitialisation de votre mot de passe – LVL UP{% endblock %}

{% block body %}
  <h1>Réinitialisation de votre mot de passe</h1>
  <p>Bonjour,</p>
  <p>Vous avez demandé la réinitialisation du mot de passe associé au compte <strong>{{ user.email }}</strong>.</p>
  <p>Cliquez sur le bouton ci-dessous pour choisir un nouveau mot de passe :</p>
  <div class="btn-wrap">
    <a class="btn" href="{{ reset_url }}">
      Réinitialiser mon mot de passe
    </a>
  </div>
  <div class="notice">
    Ce lien est valable pendant <strong>1 heure</strong>{% if expires_at %} (jusqu'au {{ expires_at|date('d/m/Y à H:i') }}){% endif %}.
    Passé ce délai, vous devrez effectuer une nouvelle demande.
  </div>
  <p>Si vous n'êtes pas à l'origine de cette demande, ignorez cet e-mail. Votre mot de passe reste inchangé.</p>
{% endblock %}
